server {
  gzip on;
  gzip_min_length 1k;
  gzip_types text/plain text/css text/javascript application/javascript application/json application/xml;
  gzip_vary on;

  sendfile on;
  client_max_body_size 300M;

  server_name _;
  server_tokens off;

  listen 80;

  # listen 443 ssl;
  # http2 on;
  # ssl_certificate /etc/nginx/cert/cert.crt;
  # ssl_certificate_key /etc/nginx/cert/private.key;

  location / {
    root /usr/share/nginx/html;
    try_files $uri $uri/ /index.html;
  }

  location /static/ {
    alias /home/sh/;
  }

  location /api/ {
    if ($request_method = 'OPTIONS') {
      add_header Access-Control-Allow-Origin *;
      add_header Access-Control-Allow-Methods 'GET,POST,PUT,PATCH,DELETE,OPTIONS';
      add_header Access-Control-Allow-Headers 'X-Requested-With,Content-Type,Authorization';
      return 204;
    }

    proxy_pass ${API};
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
  }

  # 反代websocket
  location /api/ws {
    proxy_pass http://api:8000/ws;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
